<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Удаление сотрудника</title>
</head>
<body>

			<p align="center"><b><font size="12" color="Teal">Удаление сотрудника</font>


	<form method="post" action="end_delete_employer.html">
	{% csrf_token %}

	<p> <font face="Garamond"/font> Выберите ID сотрудника</p>
	<p><select name="employer_id">
		{% for id in rez %}
			<option>{{id}}</option>
		{% endfor %}
	</select>
	</p>
	<p><input type="submit" value="Удалить"></p>
</form>



<p><a href="personal.html">Вернуться к управлению сотрудниками</a></p>

</body>
</html>