<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Управление сотрудниками</title>
</head>
<body>
	<p align="center"><b><font size="12" color="Teal">Управление сотрудниками</font>
	<p><a href="add_employer.html"><font face="Garamond"/font>Добавить нового сотрудника</a></p>
	<p><a href="employer_list.html"><font face="Garamond"/font>Просмотр списка сотрудников</a></p>
	<p><a href="select_edit_employer.html"><font face="Garamond"/font>Редактирование сотрудника</a></p>
	<p><a href="delete_employer.html"><font face="Garamond"/font>Удаление сотрудника</a></p>



<p><a href="index.html">Вернуться на главную страницу</a></p>

</body>
</html>